.modal-body {
    width: 800px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  button {
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 15px;
  }
  
  .submit-button {
    margin-top: 20px;
  }